<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yfanads.example">

    <uses-sdk tools:overrideLibrary="com.bun.miitmdid,com.easyads.supplier.ks,com.kwad.sdk,com.flayone.oaid,com.miui.zeus.mimo.sdk,com.bytedance.sdk.openadsdk" />

    <!--必须要有的权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--强烈推荐权限-->
    <!--强烈建议您在AndroidManifest.xml添加以下权限声明，若您的targetSDKVersion >= 23您还需要在运行时进行动态权限申请。
    注意：SDK不强制校验以下权限（即:无以下权限sdk也可正常工作），但建议您申请以下权限。
          针对单媒体的用户，允许获取权限的，投放定向广告；
          不允许获取权限的用户，投放通投广告。
          媒体可以选择是否把以下权限提供出来，并承担相应广告填充和eCPM单价下降损失的结果。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 可选，如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--可选权限-->
    <!--下面权限可以优化用户的交互体验，提高eCPM。-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--注意: 该权限不强制获取，即使没有获取也能正常运行；获取该权限将帮助优化投放广告精准度。-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--穿山甲的必要权限，解决安全风险漏洞，发送和注册广播事件需要调用带有传递权限的接口-->
    <permission
        android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />

    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="com.yfanads.example.global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!--穿山甲-->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ea_csj_file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <!--优量汇-->
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <activity
            android:name="com.yfanads.example.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yfanads.example.activity.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.InterstitialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.DrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.FullScreenVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.RewardVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.NativeExpressRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yfanads.example.activity.BannerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>